# Firebase Client Configuration
VITE_FIREBASE_API_KEY="AIzaSyDBhDt7hjdHatl9jvmlCMcMDbkzGFezMk4"
VITE_FIREBASE_AUTH_DOMAIN="kaamzo-b5b87.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="kaamzo-b5b87"
VITE_FIREBASE_STORAGE_BUCKET="kaamzo-b5b87.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="917489914771"
VITE_FIREBASE_APP_ID="1:917489914771:web:511d75cfd2b1903c914e66"
VITE_FIREBASE_MEASUREMENT_ID="G-VWGWL2P3TK"
